<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwh.springboot.springsecurity.dao.UserMapper">


    <select id="selectByUserName" resultType="com.cwh.springboot.springsecurity.model.entity.UserEntity">
        select * from `user`
            where user_name =  #{name}
    </select>
</mapper>